/* ---------- SASS variables ---------*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Paaji");
@import url("https://fonts.googleapis.com/css?family=Harmattan");
/* FONTS */
@font-face {
  font-family: 'timeburnerbold';
  src: url("timeburnerbold.ttf"), format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ----------- GENERAL SETTINGS ----------- */
html {
  font: normal 18px/1.4 sans-serif;
}

body {
  /* position: absolute;
    top: 0;
    left: 0;
    width: 100%; */
  margin: 0;
  border-collapse: collapse;
  /* display: grid;
    grid-auto-rows: 800px 800px 800px 800px; */
}

.fullpage {
  text-align: center;
  -webkit-clip-path: polygon(0 0, 50% 7vw, 100% 0, 100% 100%, 0% 100%);
  -moz-clip-path: polygon(0 0, 50% 7vw, 100% 0, 100% 100%, 0% 100%);
  -ms-clip-path: polygon(0 0, 50% 7vw, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 50% 7vw, 100% 0, 100% 100%, 0% 100%);
  margin-top: -8vw;
  padding-top: 7vw;
  padding-bottom: 7vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-content: flex-start; */
}

h1 {
  font-family: 'timeburnerbold', 'Harmattan';
  font-size: 100px;
  margin: 0;
}

h2 {
  color: #383838;
  font-weight: 600;
  margin: 0;
  padding-top: 0;
  padding-bottom: 40px;
}

div {
  margin: 0;
}

/* .content {
    
} */
footer {
  border-collapse: collapse;
  margin: 0;
  background: black;
  border: none;
  min-height: 30px;
  padding: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------- TITLE PAGE -------------*/
.nav {
  position: absolute;
  top: 20px;
  right: 3vw;
  height: 50px;
}

.nav a, footer a {
  color: white;
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 2vw;
  cursor: pointer;
}

#title-space {
  padding-top: 0;
  background: #2f495f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title {
  font-size: 2em;
  /* display: flex;
    flex-direction: column;
    justify-content: center; */
  font-family: 'Harmattan';
}

/* --------------- PARAMETER PAGE ----------------*/
#params-space {
  background: white;
}

#params-space > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  min-height: 400px;
  margin: 5px;
}

#params-space > div > div {
  width: 40%;
  min-width: 300px;
  min-height: 200px;
  /* height: 100%; */
  border: 10px solid #bdbcbc;
  overflow-y: auto;
}

#params-space > div > div > div:first-child {
  background: #bdbcbc;
  margin-top: -3px;
  padding-bottom: 5px;
  font: bold 24px;
  color: #383838;
  font-weight: 600;
}

.param {
  /* border: 5px solid white; */
  height: 50px;
  margin: 5px;
  font: bold 15px/20px arial;
  color: white;
  position: relative;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.param.active {
  background: #383838;
}

.param.inactive {
  background: #bdbcbc;
}

.addParamButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: #517694;
  color: #383838;
  font: bold 20px/20px arial;
  border: none;
}

.inactive .addParamButton {
  background: #bdbcbc;
  color: white;
}

.active .addParamButton:hover {
  cursor: pointer;
  background: #2f495f;
  color: white;
}

.paramSourceInfo {
  text-decoration: none;
  color: white;
  height: 100%;
  position: absolute;
  right: 50px;
  width: 50px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 25px times;
}

.active .paramSourceInfo:hover {
  color: #517694;
}

/* --------------- FILE INPUT ---------------- */
#file-space {
  background: #bdbcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dropzone {
  position: relative;
  border: 10px dashed #383838;
  border-radius: 20px;
  color: #bdbcbc;
  font: bold 24px arial;
  height: 300px;
  margin: 30px auto;
  text-align: center;
  width: 60vw;
  max-width: 600px;
  color: #383838;
  overflow-y: hidden;
}

#dropzone.hover {
  border: 10px solid #2f495f;
  color: #2f495f;
  -webkit-animation: flashing 1s 2s;
  -moz-animation: flashing 1s 2s;
  animation: flashing 1s 0s 2;
}

#dropzone.dropped {
  background: #383838;
  border: 10px solid #2f495f;
}

#dropinfo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0.01;
  background: #bdbcbc;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

@keyframes flashing {
  0% {
    background-color: #bdbcbc;
  }
  50% {
    background-color: #517694;
  }
  100% {
    background-color: #bdbcbc;
  }
}

#progress-disp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #517694;
  border-radius: 10px;
  clip-path: inset(0 0 100% 0);
}

#list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  color: white;
  font: 15px arial;
}

#list ul {
  list-style-type: none;
  text-align: left;
}

/*  --------------- FILE EXPORT ------------------*/
#export-space {
  background: #383838;
}

#export-space h2 {
  color: white;
}

#resultsSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#resultsSpace table {
  overflow: auto;
  font: 10px arial white;
}

#resultsSpace td {
  text-align: left;
}

.tableexport-caption {
  width: 600px;
  height: 150px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.button-default {
  width: 180px;
  height: 180px;
  background: #383838;
  border: 7px solid #bdbcbc;
  border-radius: 50%;
  font: 17px arial;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  transition: all .2s;
}

.button-default:hover {
  /* border-style: solid; */
  /* color: $col4; */
  cursor: pointer;
}

.button-default:nth-child(1):hover {
  border-color: #548d4d;
  color: #548d4d;
}

.button-default:nth-child(2):hover {
  border-color: #4676a3;
  color: #4676a3;
}

.button-default:nth-child(3):hover {
  border-color: #a35151;
  color: #a35151;
}

/*--------------- CONTACT.HTML ---------------- */
.x {
  display: block;
  position: fixed;
  right: 1vw;
  top: 1vw;
  width: 50px;
  height: 50px;
  transition: transform .25s ease-in-out;
}

.x:hover {
  transform: rotate(180deg);
}

.x:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  transform-origin: center;
}

.x:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(-45deg);
  transform-origin: center;
}

.fill-front {
  position: fixed;
  margin: 0;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #383838;
  color: white;
  overflow: auto;
  transition: all 0.3s;
}

#contact-space {
  display: none;
}

#impressum-space {
  display: none;
  padding: 5vw;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#contact-info {
  margin-top: 0;
}

#contact-space h2 {
  color: white;
}

form {
  padding: 5%;
  max-width: 500px;
  width: 100%;
  flex-shrink: 1;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #2f495f;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #517694;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #2f495f;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #517694;
}
/*# sourceMappingURL=style.css.map */