/* ---------- SASS variables ---------*/

$col1: rgb(56, 56, 56);
$col2: rgb(189, 188, 188);
$col3: rgb(47, 73, 95);
$col4: rgb(81, 118, 148);
$col5: white;
$col6: black;

$points: polygon(0 0, 50% 7vw, 100% 0, 100% 100%, 0% 100%);
$arrow: polygon(0 0, 50% 40%, 100% 0, 100% 60%, 50% 100%, 0% 60%);

@mixin clip-path($clip) {
    -webkit-clip-path: $clip;
    -moz-clip-path: $clip;
    -ms-clip-path: $clip;
    clip-path: $clip;
}

/* ----------- GENERAL SETTINGS ----------- */
* {
    margin: 0;
    padding: 0;
  }
html, body {
    /* height: 100%; */
    font-family: Helvetica, Arial, sans-serif;
}
section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title-space {
    background: $col3;
    color: $col5;
}
#params-space {
    background: $col5;
}
#file-space {
    background: $col2;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin: 0;
}
h2 {
    color: $col1;
    font-weight: 600;
    margin: 0;
    padding-top: 0;
    padding-bottom: 40px;
}
.nav {
    position: absolute;
    top: 20px;
    right: 3vw;
    height: 50px;
    font-size: 20px;
}
.nav a,footer a {
    color: $col5;
    text-decoration: none;
    margin-left: 2vw;
    margin-right: 2vw;
    cursor: pointer;
}
.scroll-indication {
    position: absolute;
    width: 100px;
    height: 50px;
    background: $col4;
    @include clip-path($arrow);
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    -webkit-animation: scroll-flash 2s 2s 5;
    -moz-animation:    scroll-flash 2s 2s 5;
    animation: scroll-flash 2s 2s 5;
}
@keyframes scroll-flash {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100%   { opacity: 0; }
}
/* #scroll-after-calculation {
    
    opacity: 0;
} */

/*---------------title page ---------------*/
#title-space p{
    margin-top: 2vw;
    font-size: 25px;
}
/*--------------params page-----------------*/
#param-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    min-height: 400px;
    margin: 5px;
}
#param-container>div {
    width: 40%;
    min-width: 300px;
    min-height: 200px;
    /* height: 100%; */
    border: 10px solid $col2;
    overflow-y: auto;
}
#param-container>div>div:first-child {
    background: $col2;
    margin-top: -3px;
    padding-bottom: 5px;
    font: bold 24px;
    color: $col1;
    font-weight: 600;
}

.param {
    /* border: 5px solid white; */
    height: 50px;
    margin: 5px;
    font: bold 15px/20px arial;
    color: $col5;
    position: relative;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.param.activated{
    background: $col1;
}

.param.disabled {
    background: $col2;
}

.addParamButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: $col4;
    color: $col1;
    font: bold 20px/20px arial;
    border: none;
}

.disabled .addParamButton{
    background: $col2;
    color: $col5;
}

.activated .addParamButton:hover {
    cursor: pointer;
    background: $col3;
    color: $col5;
}
.paramSourceInfo {
    text-decoration: none;
    color: $col5;
    height: 100%;
    position: absolute;
    right: 50px;
    width: 50px;
    border-left: 2px solid $col5;
    border-right: 2px solid $col5;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 25px times;
}
.activated .paramSourceInfo:hover {
    color: $col4;
}

/* --------------- FILE INPUT ---------------- */


#dropzone {
    position: relative;
    border: 10px dashed $col1;
    border-radius: 20px;
    color: $col2;
    font: bold 24px arial;
    height: 300px;
    margin: 30px auto;
    text-align: center;
    width: 60vw;
    max-width: 600px;
    color: $col1;
    overflow-y: hidden;
}
  
#dropzone.hover {
    border: 10px solid $col3;
    color: $col3;
    -webkit-animation: flashing 1s 2s;
  -moz-animation:    flashing 1s 2s;
  animation:         flashing 1s 0s 2;
}
  
#dropzone.dropped {
    background: $col1;
    border: 10px solid $col3;
}
  
#dropinfo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0.01;
    background: $col2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes flashing {
    0%   { background-color: $col2; }
    50% { background-color: $col4; }
    100%   { background-color: $col2; }
}

#progress-disp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $col4;
    border-radius: 10px;
    clip-path: inset(0 0 100% 0);
}

#list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    color: $col5;
    font: 15px arial;
}

#list ul {
    list-style-type: none;
    text-align: left;
}

/*  --------------- FILE EXPORT ------------------*/

#export-space {
    background: $col1;  
}
#export-space h2 {
    color: $col5;
}
#resultsSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#resultsSpace table {
    overflow: auto;
    font: 10px arial $col5;
}
#resultsSpace td {
    text-align: left;
}

.tableexport-caption {
    
    width: 600px;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.button-default {
    width: 180px;
    height: 180px;
    background: $col1;
    border: 7px solid $col2;
    border-radius: 50%;
    font: 17px arial;
    font-weight: 600;
    color: $col5;
    text-transform: uppercase;
    transition: all .2s;
}

.button-default:hover {
    cursor: pointer;
}

.button-default:nth-child(1):hover {
    border-color: rgb(84, 141, 77);
    color: rgb(84, 141, 77);
}
.button-default:nth-child(2):hover {
    border-color: rgb(70, 118, 163);
    color: rgb(70, 118, 163);
}
.button-default:nth-child(3):hover {
    border-color: rgb(163, 81, 81);
    color: rgb(163, 81, 81);
}
/*--------------- CONTACT.HTML ---------------- */
.hidden {
    display: none;
}
.x {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 90px;
    height: 50px;
    transition: transform .25s ease-in-out;
}
 .x:hover {
    transform: rotate(180deg);
}
.x:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0px;
    top: 0px;
    bottom: 0;
    width: 50px;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.x:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0px;
    top: 0px;
    bottom: 0;
    width: 50px;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}
.full-front {
    position: fixed;
    margin: 0;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $col1;
    color: white;
    overflow: auto;
    transition: all 0.3s;
    text-align: center;
}

#contact-space {
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#impressum-space h1, #contact-space h1{
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 50px;
}

.flex-container {
    max-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;

}

#impressum-space .flex-container *{
    margin-bottom: 20px;
}

#contact-info {
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0;
    text-align: left;
}

form {
    padding-bottom: 5%;
    max-width:500px;
    width: 100%;
    /* flex-shrink: 1; */
}

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid $col3  ;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid $col4; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:$col3;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top: 4px;
  font-weight:700;
}
[type="submit"]:hover { background:$col4; }

#captcha {
    margin-bottom: 10px;
    height: 24px;
    font-size: 20px;
    display: flex;
    align-items: center;

    justify-content: center;
}

#captcha .reload-button span{
    display: inline-block;
    margin-left: 10px;
    background: url(../img/ReloadArrow24.png) no-repeat 50% 50%;
    cursor: pointer;
    height: 24px;
    width: 30px;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    color: $col5;
    background-color: black;
    text-transform: uppercase;
}